<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.taxidriver">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activities.ConnectingToServerActivity"></activity>
        <activity android:name=".ui.activities.LoginActivity" />
        <activity android:name=".ui.activities.RegistrationActivity" />
        <activity android:name=".ui.activities.MainActivity" />
        <activity android:name=".ui.activities.MapActivity" />
        <activity android:name=".ui.activities.TaximeterActivity" />
        <activity android:name=".ui.activities.FinishedOrderActivity" />
        <activity android:name=".ui.activities.SettingsActivity" />
        <activity android:name=".ui.activities.FinishedOrdersListActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCqGcqmZuC8jaafN6Uuu4TiFsx9KixQKHY" />

        <service
            android:name=".services.MessageService"
            android:enabled="true"
            android:exported="false" />

        <activity android:name=".ui.activities.LockedAccountActivity" />
        <activity android:name=".ui.activities.IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activities.AuthorizationActivity"></activity>



        <receiver
            android:name=".services.ReceiverOnWork"
            android:exported="false">
            <intent-filter>
                <action android:name="someAction"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>